/*grid layout for national film and sound archive*/
.wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.boxone {
  grid-column: 1 / 4;
  grid-row: 1 / 6;
 
}
.boxtwo {
  grid-column: 4 / 6;
  grid-row: 1 / 4;
  margin-top: 30px;
}

.boxthree {
  grid-column: 6 / 8;
  grid-row: 1 / 4;
  margin-top: 30px;
}

.boxfour {
  grid-column: 4 / 7 ;
  grid-row: 1;
}